.calibration-mode {
  &-header {
    display: flex;
    align-items: center;
    color: #fff;

    h3 {
      margin-right: 15px;
    }
  }

  .chart-container {
    width: 600px;
    height: 300px;
    margin: 0 auto;
  }
}